
{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
<div align="center">
<div>
<h1>Welcome to TheScholarSpace </h1> 
</div>

<div>
<h2> What is TheScholarSpace about? </h2>
</div>

<div>
<p> This is an educational social media website designed for A-level students who are undergoing their a levels currently.</p>

<img src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/styles/content-580x288/public/news/news/sutton1top.jpg?itok=r9FAIifv" >



</div>

<p> On this website , Students will be able to communicate with each other, share their tips and advice. <p>

<p>At TheScholarSpace, we know the best support for students often comes from other students - the people who are facing exactly the same challenges as you or who have just managed to overcome them.

TheScholarSpace is a student community that exists for every student to use to support each other – whatever your background. For A levels and everything else life decides to throw at you.
TheScholarSpace community is here for you. </p>

</div>
</article>

{% endblock content %}

