{% extends "layout.html" %}
{% block content %}
    
<ul class="comments">
    {% for comment in comments %}
    

  <div class="media-body">
      <a class="mr-2" href="{{ url_for('users.user_post', username=comment.author_id.username) }}">{{ comment.author_id.user}}</a>
            <div class="comment-content">
            {% if comment.content_html %}
            <img class = "rounded-circle article-img" src = "{{ url_for('static', filename = 'webby_pics/' + comment.comment_author.image_file)}}">
            {{ comment.comment_author.username}}:
            {{ comment.content }}

            {% endif %}
        
    {% endfor %}

{% endblock content %}