{% extends "layout.html" %}
{% block content %}
	<h1> Welcome to AQACompSciRevise </h1>

	<h2> Past Papers <h2>

		<p> Here you can find some past papers and mark schemes for AQA Computer Science at A level </p>

		<div class="media-body">
		<li><a href="http://filestore.aqa.org.uk/sample-papers-and-mark-schemes/2017/june/AQA-75161-QP-MQP18A4-JUN17.PDF">Paper 1 (AS): Question paper June 2017 </a></li>




		 <li><a href="http://filestore.aqa.org.uk/sample-papers-and-mark-schemes/2017/june/AQA-75171-QP-JUN17.PDF">Paper 1 (A-Level): Question paper June 2017 </a></li>

		 <li><a href="http://filestore.aqa.org.uk/sample-papers-and-mark-schemes/2017/june/AQA-75171-W-MS-JUN17.PDF">Paper 1 (A-Level): Mark Scheme June 2017 </a></li>

		 <li><a href="http://filestore.aqa.org.uk/sample-papers-and-mark-schemes/2017/june/AQA-75172-QP-JUN17.PDF">Paper 2 (A-Level): Question paper June 2017 </a></li>


		 <li><a href="http://filestore.aqa.org.uk/sample-papers-and-mark-schemes/2017/june/AQA-75172-W-MS-JUN17.PDF">Paper 2 (A-Level): Mark Scheme June 2017 </a></li>

		</div><div class="media-body">

	
{% endblock content %}
